.mixSwiper {
  position: relative;
  overflow: visible;
  margin: 0 auto;
  width: 1418px;
  height: 542px;
}

.mixSwiper-mySwiper.swiper {
  width: 1418px;
  height: 606px;
}

.mixSwiper-mySwiper .swiper-pagination {
  bottom: 0;
}

.mySwiper {
  overflow: inherit;
}

.mix-swiper-data-wrapper{
  position: absolute;
  cursor: pointer;
}
.group-item-1 .mix-swiper-data-item,.group-item-7 .mix-swiper-data-item{
  padding: 0 49px;
}
.mix-swiper-data-wrapper.group-item-1{
  position: absolute;
  left: 0;
  top: 0;
  width: 318px;
  height: 542px;
}
.mix-swiper-data-wrapper.group-item-2{
  left: 328px;
  top: 0;
  width: 428px;
  height: 264px;
}
.group-item-2 .mix-swiper-data-item {
  padding: 0 27px 0 34px;
}
.mix-swiper-data-wrapper.group-item-3{
  right: 328px;
  top: 0;
  width: 311px;
  height: 265px;
}
.group-item-3 .mix-swiper-data-item {
  padding: 0 25px 0 25px;
}
.mix-swiper-data-wrapper.group-item-4{
  width: 242px;
  height: 265px;
  left: 328px;
  top: 278px;
}
.group-item-4 .mix-swiper-data-item {
  padding: 0 25px 0 25px;
}
.mix-swiper-data-wrapper.group-item-5{
  width: 242px;
  height: 265px;
  left: 588px;
  top: 278px;
}
.group-item-5 .mix-swiper-data-item {
  padding: 0 17px 0 21px;
}
.mix-swiper-data-wrapper.group-item-6{
  width: 242px;
  height: 265px;
  right: 328px;
  top: 278px;
}
.group-item-6 .mix-swiper-data-item {
  padding: 0 15px 0 21px;
}
.mix-swiper-data-wrapper.group-item-7{
  width: 318px;
  height: 542px;
  position: absolute;
  right: 0;
  top: 0;
}

.mix-swiper-data-wrapper:hover .mix-swiper-data-item{
  opacity: 1;
  transition: all 1s;
}
.mix-swiper-data-item {
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: 100%;
  border: 2px solid #fff3c0;
  border-radius: 8px;
}

.mix-swiper-data-item-title {
  font-family: Source Han Serif CN;
  font-weight: 500;
  font-size: 29px;
  color: #FFFEF3;
  margin-bottom: 20px;
}
.mix-swiper-data-item-content {
  font-family: Microsoft YaHei;
  font-weight: 300;
  font-size: 17px;
  color: #FFFEF3;
}

.mixSwiper .custom-prev {
  left: -120px;
  cursor: pointer;
}
.mixSwiper .custom-next {
  right: 120px;
  cursor: pointer;
}

.mix-swiper-data-wrapper.group1-1 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-2 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-2.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-3 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-3.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-4 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-4.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-5 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-5.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-6 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-6.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group1-7 {
  background: url(../../../../assets/img/page2/mixSwiper/group1-7.png) no-repeat center center;
  background-size: 100% 100%;
}


.mix-swiper-data-wrapper.group2-1 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-2 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-2.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-3 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-3.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-4 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-4.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-5 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-5.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-6 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-6.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group2-7 {
  background: url(../../../../assets/img/page2/mixSwiper/group2-7.png) no-repeat center center;
  background-size: 100% 100%;
}

.mix-swiper-data-wrapper.group3-1 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-2 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-2.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-3 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-3.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-4 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-4.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-5 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-5.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-6 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-6.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group3-7 {
  background: url(../../../../assets/img/page2/mixSwiper/group3-7.png) no-repeat center center;
  background-size: 100% 100%;
}

.mix-swiper-data-wrapper.group4-1 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-2 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-2.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-3 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-3.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-4 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-4.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-5 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-5.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-6 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-6.png) no-repeat center center;
  background-size: 100% 100%;
}
.mix-swiper-data-wrapper.group4-7 {
  background: url(../../../../assets/img/page2/mixSwiper/group4-7.png) no-repeat center center;
  background-size: 100% 100%;
}
