.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.media-btn {
  position: fixed;
  right: 72px;
  top: 51px;
  background: url(../../assets/img/introScreen/muted.png) no-repeat center center;
  background-size: 100% 100%;
  width: 62px;
  height: 62px;
  z-index: 2;
}
.media-btn.active {
  background: url(../../assets/img/introScreen/no-muted.png) no-repeat center center;
  background-size: 100% 100%;
}
.video-container {
    width: 1920px;
    height: 1080px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.media-frame {
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 361px;
  background: url(../../assets/img/introScreen/bottom-bg.png);
  background-size: 100% 100%;
  z-index: 2;
  text-align: center;
}

.start-button {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 330px;
  height: 100px;
  margin-top: 132px;
  animation: float 2s ease-in-out infinite;
  background: url(../../assets/img/introScreen/btn.png);
  background-size: 100% 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.start-button:hover {
  transform: scale(1.1);
}

.navigation-page {
  position: relative;
  /* animation: fadeIn 1s ease-out; */
  width: 1920px;
  height: 1080px;
  padding-top: 97px;
  background: url(../../assets/img/introScreen/bg.png) no-repeat center center;
  background-size: 100% 100%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.navigation-content {
  position: relative;
  margin: auto;
  width: 1504px;
  height: 848px;
}
.navigation-buttons {
  position: absolute;
  bottom: 0;
  left: -45px;
  right: 0;
  margin: auto;
  width: 1594px;
  height: 372px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navigation-content.active1 {
  background: url(../../assets/img/introScreen/content1.png) no-repeat center center;
  background-size: 1504px 848px;
}
.navigation-content.active2 {
  background: url(../../assets/img/introScreen/content2.png) no-repeat center center;
  background-size: 1504px 848px;
}
.navigation-content.active3 {
  background: url(../../assets/img/introScreen/content3.png) no-repeat center center;
  background-size: 1504px 848px;
}
.navigation-content.active4 {
  background: url(../../assets/img/introScreen/content4.png) no-repeat center center;
  background-size: 1504px 848px;
}
.nav-button {
  width: 298px;
  height: 314px;
  cursor: pointer;
  margin-bottom: -62px;
}

.nav-button.active {
  /* width: 298px;
  height: 372px; */
  transform: scale(1.2);
}

.nav-button.btn1 {
  background: url(../../assets/img/introScreen/default1.png);
  background-size: 100% 100%;
  /* margin-left: -45px; */
}
.nav-button.btn1.active1 {
  background: url(../../assets/img/introScreen/active1.png);
  background-size: 100% 100%;
}

.nav-button.btn2 {
  background: url(../../assets/img/introScreen/default2.png);
  background-size: 100% 100%;
}
.nav-button.btn2.active2 {
  background: url(../../assets/img/introScreen/active2.png);
  background-size: 100% 100%;
}

.nav-button.btn3 {
  background: url(../../assets/img/introScreen/default3.png);
  background-size: 100% 100%;
}
.nav-button.btn3.active3 {
  background: url(../../assets/img/introScreen/active3.png);
  background-size: 100% 100%;
}

.nav-button.btn4 {
  /* margin-right: -45px; */

  background: url(../../assets/img/introScreen/default4.png);
  background-size: 100% 100%;
}
.nav-button.btn4.active4 {
  background: url(../../assets/img/introScreen/active4.png);
  background-size: 100% 100%;
}

@keyframes float {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, -10px); }
  100% { transform: translate(0, 0px); }
}