@font-face {
  font-family: "Source Han Serif CN"; /* 定义字体名 */
  src: url("./assets//fonts/SourceHanSerifCN-SemiBold.otf"); /* 引入本体字体文件 */
}
@font-face {
  font-family: "Kai"; /* 定义字体名 */
  src: url("./assets//fonts/simkai.ttf"); /* 引入本体字体文件 */
}
.App {
  /* width: 1920px; */
  margin: auto;
  position: relative;
}
